
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
       url('../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
       url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 60px;
}

.navbar-nav > li > a.brand-link {
  font-size: 1.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-form .form-group {
  line-height: 60px;
}

.container.page {
  margin-top: 90px;
  margin-bottom: 59px;
}

select, input[type=text], input[type=password] {
  @extend .form-control;
}

div.field_with_errors {
  display: inline;

  input,textarea,select,button.fileinput-button {
    background: #F6CECE;
    border: 1px solid red;
  }
}

input[type=submit] {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
}

div.field {
  padding-bottom: 10px;
  width: 400px;
}

fieldset {
  margin: 10px;
}

table.index tbody tr[data-link] {
  cursor: pointer;
}

//Conditional Forms
.dependent{
  display: none;
}
.edit-btn{
  margin-top:20px !important;
}
.referenceRange-edit-btn{
  margin-left: -15px !important;
}
.site-name-input{
  margin-top:20px !important;
  font-size: 2em !important;
  font-weight: bold;
}
.delete-button{
  margin-bottom: 75px;
}
.space-top{
  margin-top: 20px;
}
.space-bottom{
  margin-bottom: 20px;
}
.vertical-form-label{
  text-align: right;
}
.initials-input{
  width:50px !important;
}
.study-enrollment-submit{
  margin-left: 375px !important;
}
.tab-content{
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.sub-module{
  border: 1px solid #ddd;
  margin-bottom:20px;
  padding:15px;
}
.event-tracking{
  border: 1px solid #ddd;
}
.table-btn{
  display:block;
  margin:auto;
}
.first-heading{
  margin-bottom:0px;
  margin-top: 25px;
}
.radio-cell{
  text-align: center;
  border: none;
}
.radio-label{
  text-align: right;
  border: none;
}
.radio-table{
  border-collapse: collapse !important;
}
.rpp{
  margin-bottom: 20px;
}
fieldset {
    border: 1px groove #ddd !important;
    padding: 1.4em;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
.redborder {
    border: 5px groove red !important;
    border-color:#F00;
    padding: 1.4em 1.4em 1.4em 1.4em !important;
    margin: 1em 1em 1em 1em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.heavy-text {
  font-size:16px;
  font-weight: bold;
}
legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0px;
}
.ineligible{
  color: red;
  font-size: 18px;
  font-weight: bold;
}
table.mpnsaftss td {
    margin: 12px 12px 12px 12px;
    padding: 2px 12px 5px 12px;
}
table.mpnsaftss {
    border-collapse: separate;
    *border-collapse: expression('separate', cellSpacing = '10px');
}
.error{
  color:red;
}
.has-error input[type='radio'] {
  outline: 1px solid red;
}
.fat-lines{
  line-height: 1.5em;
}
input[type=radio]:required{
  box-shadow: none;
}
.is-followup input.ng-untouched{
  border-color: red; 
}
.is-followup select.ng-untouched{
  border-color: red; 
}
.is-followup input[type=radio]:checked.ng-untouched{
  outline: 1px solid red; 
}
.patient-site-id{
  width: 5em;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.patient-study-id{
  width: 7em;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.study-name{
  width: 55px;
  float: left;
}
.dash{
  width: auto !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.input-400 input{
  width:400px;
}
.input-400 select{
  width:400px;
}
.info {
  padding: 15px;
}

.indent-1 {
  margin-left: 15px;
}

.indent-2 {
  margin-left: 30px;
}

.indent-3 {
  margin-left: 45px;
}

.indent-4 {
  margin-left: 60px;
}

.h4-label {
  font-size: 18px;
  font-weight:500;
  line-height: 1.1;
  width: 100%;
}

.checkbox-width {
  width: 34px;
}

.no-left-padding {
  padding-left: 0px;
}
.rangeDetail{
  padding-top:15px;
}
.nowrap {
  white-space: nowrap;
}
