<div class='text-center' ng-if='message'>{{message}}</div>
<form ng-submit="login()">
  <div class='row'>
    <h3 class='col-xs-offset-4 col-xs-3'>username:</h3>
    <div class='col-xs-offset-4 col-xs-4'>
      <input type="text" name="username" ng-model="credentials.username" required />
    </div>
  </div>
  <div class='row'>
    <h3 class='col-xs-offset-4 col-xs-3'>password:</h3>
    <div class='col-xs-offset-4 col-xs-4'>
      <input type="password" name="password" ng-model="credentials.password" required />
    </div>
  </div>
  <br/>
  <div class='row'>
    <a class='col-xs-offset-4 col-xs-2' href='#/account/requestPassword'>Forgot Password?</a>
    <div class='col-xs-offset-1 col-xs-1'><button type="submit" class='btn btn-primary'>Sign in</button></div>
  </div>
</form>
