<div class='row'>
  <error-list errors='messages'></error-list>
</div>
<div class="row">
  <h2 class='col-xs-10'>{{medicalHistory.id === undefined ? "New ": ""}}Medical History</h2>
</div>
<form ng-submit="submit()">
  <fieldset>
    <legend>Study identifier: <hem-id siteid='studyEnrollment.Details.patient_site_id' patientid='studyEnrollment.Details.patient_study_id'></hem-id></legend>
    
    <div ng-if='message'>{{message}}</div>

    <query-verify
      data-object='medicalHistory'
      is-disabled='disabled'
      can-verify='{{canVerify && !isLockedDown() && medicalHistory.draftStatus === "Complete"}}'
      can-query='{{canVerify}}'
      can-comment='{{canComment}}'
      verify='verify()'
      comment='comment()'
      comment-text='commentText'
      ></query-verify>

    <div class='form-group'>
      <label class="h4-label">Narrative description of condition/occurrence:</label>  
      <cqs-area
        ng-class="{'has-error':errors.description}"
         attribute='medicalHistory.description'
                 isdisabled="disabled"
                 isrequired='true'
                 draftstatus='medicalHistory.draftStatus'>
      </cqs-area>      
    </div>

    <br />

    <div class='form-group'>
      <label class="h4-label">Is this an ongoing condition/occurrence?</label>
      <cqs-select
          ng-class="{'has-error':errors.ongoing}"
                  attribute='medicalHistory.ongoing'
                  collection='["Yes","No"]'
                  isrequired='true'
                  isdisabled='disabled'
                  draftstatus='medicalHistory.draftStatus'></cqs-select>
    </div>

    <br />

    <div class='form-group'>
      <label class="h4-label">Start date* of condition/occurrence:</label>
      <cqs-input 
        ng-class="{'has-error':errors.start_date}"
      attribute='medicalHistory.start_date'
                 isdisabled="disabled"
                 placeholder="YYYY-MM-DD"
                 isrequired='required("StudyEnrollments.MedicalHistories.start_date", medicalHistory)'
                 draftstatus='medicalHistory.draftStatus'>
      </cqs-input>
    </div>

    <br />
    
    <div class='form-group' ng-show='required("StudyEnrollments.MedicalHistories.end_date", medicalHistory)'>
      <label class="h4-label">End date* of condition/occurrence:</label>
      <cqs-input 
        ng-class="{'has-error':errors.end_date}"
          attribute='medicalHistory.end_date'
                 isdisabled="disabled"
                 placeholder="YYYY-MM-DD"
                 isrequired='required("StudyEnrollments.MedicalHistories.end_date", medicalHistory)'
                 draftstatus='medicalHistory.draftStatus'>
      </cqs-input>
    </div>
    
    <div class='row'>
      <div class='col-xs-offset-5 redborder col-xs-4 heavy-text'>
        *data entry for incomplete dates<br />
        YYYY-MM-99 if day is unknown<br />
        YYYY-99-99 if only year is known<br />
        9999-99-99 if no part of date is known<br />
      </div>
    </div>

    <div class='form-group'>
      <label class="h4-label">Record status:</label>
      <cqs-select
          ng-class="{'has-error':errors.draftStatus}"
                  attribute='medicalHistory.draftStatus'
                  collection='["Complete", "Incomplete"]'
                  isdisabled="disabled"
                  isrequired="true">
      </cqs-select>
    </div>

  </fieldset>
  <div>
    <button class='btn btn-primary edit-btn' type='submit' ng-hide="disabled || submitted">Submit</button>
    <a ng-href="#/studyenrollments/{{ studyEnrollment.id }}/medicalhistories/{{ medicalHistory.id }}/edit" class='btn btn-primary edit-btn' ng-show='canEdit && disabled && !isLockedDown()'>Edit</a>
    <a ng-href="#/studyenrollments/{{ studyEnrollment.id }}?tab=logForms" class='btn btn-primary edit-btn' ng-hide='submitted'>{{disabled ? "Back" : "Cancel"}}</a>
  </div>
</form>
