<div class="row marketing">
<div ng-if='message'>{{message}}</div>
  <h1>HEM1538</h1>
  <p>
    Welcome to HEM1538
  </p>
  <div ng-show='loggedIn()'>
    <h4><a href='manual.pdf' target='_blank'>User manual</a></h4>
    <h4>Video Tutorials</h4>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/kCuIljaJCn3D' target='_blank'>Entering a new study enrollment</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/qp97FqXU    ' target='_blank'>Entering a screening visit and Baseline form</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/fUMgA7w83TTx' target='_blank'>Entering medical history, concomitant medication and comments</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/idCLB3aW    ' target='_blank'>Entering an AE, SAE and SAE-follow-up</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/X1yVWpr2Q   ' target='_blank'>Entering a deviation</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/Qkge4CM4vbM ' target='_blank'>Entering a new visit</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/jPLEhHkXRzua' target='_blank'>Edit and clear data</a></h5>
    <h5 class='indent-1'><a href='http://www.screencast.com/t/WjIBlI82Hz  ' target='_blank'>Reference ranges</a></h5>
  </div>
</div>
